<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Marc Tang (Linguist)</a></li>
	        		<li><a href="/cv">CV</a></li>
				<li><em><a href="/publications">Publications</a></em></li>
				<li><a href="/conferences">Conference papers</a></li>
				<li><a href="/gallery">Gallery</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:marc.tang@lingfil.uu.se">email</a></li>
	        		<li><a href="https://github.com/marctang">github.com/marctang</a></li>
				</ul>
			</footer>
		</body>
	</html>
